:root {
    --hover: #415a77;
    --accent: #50758b;
    --fg: #ffffff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, p {
  margin: 0;
}

body {
    font-family: 'Poppins', sans-serif; 
    font-size: 16px; 
    text-align: center;
    color: white;
    background: #233344
} 


.navbar {
  width: 100%;
  position: sticky; 
  top: 0;
  z-index: 100;
  padding: 15px 0;
}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-logo {
  font-weight: bold;
  text-decoration: none;
  color: #c8f1f1;
  letter-spacing: -1px;
}

.nav-links a {
  text-decoration: none;
  color: #c1dbdc;
  margin-left: 20px;
  font-size: 0.9rem;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #83edef; 
}

.wip {
  background: #a6a35d;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  gap: 10px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.wip p {
    margin: 0;
    padding: 0;
    line-height: 1.5; 
}

a {
  color: #d5efff; 
  text-decoration: none; 
}

ul {
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}

.main-content {
  background: #31475e;
  color: #ffffff;
  padding: 24px 36px;
  text-align: center;
  border-radius: 20px;
  margin: 20px auto;   
  max-width: 1200px;
  width: 90%;        
}

.section-title {
    margin-top: 50px;
}

footer {
    text-align: center;
    padding: 40px 20px;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer p {
    color: #c1dbdc;
    font-size: 0.85rem;
    margin-bottom: 10px;
}

.footer-links a {
    color: #7dafd1; 
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.85rem;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: #bbdcf2 
}

.badge-aa {
    display: inline-block;
    background: rgba(255, 87, 87, 0.75);
    color: rgb(255, 213, 213);
    font-size: 0.7rem;
    padding: 2px 10px;
    border-radius: 50px;
    border: 1px solid rgba(255, 0, 0, 0.1);
    text-decoration: none !important; 
    white-space: nowrap; 
}

.badge-flc {
    display: inline-block;
    background: rgba(255, 245, 245, 0.75);
    color: rgb(23, 23, 23);
    font-size: 0.7rem;
    padding: 2px 10px;
    border-radius: 50px;
    border: 1px solid rgba(168, 168, 168, 0.1);
    text-decoration: none !important; 
    white-space: nowrap; 
}

@media (max-width: 600px) {
  .main-content {
    max-width: 500px;    
    width: 80%;
  }
}


@media (max-width: 600px) {
  .title-content {
    max-width: 500px;    
    width: 80%;
    align-items: flex-start;
    gap: 10px;
    }
    
  .left-section { 
      align-items: flex-start;
      gap: 5px;
  }
  
  h1 {
      font-size: 1.8rem; 
  }
  .status {
    font-size: 0.8rem;
    margin-top: 10px;
  }
}


.title-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: #31475e;
    color: #ffffff;
    padding: 24px 36px;
    border-radius: 20px;
    margin: 20px auto;   
    max-width: 1200px;
    width: 90%;  
    text-align: left; 
}

.left-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.back-btn {
    background: var(--hover);
    color: var(--fg);
    border: 1px solid var(--accent);
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    gap: 5px;
}

.back-btn:hover {
    background: #66778a;
    color: #fff;
}


.title-content, 
.main-content {
    max-width: 1200px;
    width: 90%;      
    margin-left: auto;  
    margin-right: auto; 
    padding: 24px 36px; 
    box-sizing: border-box; 
}

footer p {
    color: #c1dbdc;
    font-size: 0.85rem;
    margin-top: 15px; 
    margin-bottom: 10px;
}